/* style.css */

.logo-container {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Creates the circular shape */
    overflow: hidden; /* Ensures the image stays within the circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block; /* Prevents extra space below the image */
}

.navbar-brand {
    margin-left: 5px; /* Adjust spacing between logo and brand name */
}

.hero h1 {
    font-weight: 700; /* Makes the font bolder (you can try higher values like 800 or 900 for even thicker) */
    font-size: 2.5rem; 
}


.hero h1 i {
    /* You could try adding a text-shadow to give a thicker appearance, but it might not look ideal on all icons */
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; 
}